* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table,
td {
    border: 1px solid #000;
}

table {
    max-width: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

table .table_1 {
    width: 100%;
}

table .table_1 img {
    max-width: 150px;
    max-height: 250px;
    object-fit: cover;
    display: block;
}

table .table_2 {
    width: 100%;
}

table .table_2 th {
    padding: 5px 0;
}

table .table_2 td {
    text-align: center;
}

table .table_3 td {
    text-align: center;
}

table .table_4 td {
    text-align: center;
}

table .table_5 td {
    text-align: center;
}

table .table_6 td {
    text-align: center;
    vertical-align: top;
    padding: 0 5px;
}

table .table_6 td ul li {
    text-align: left;
    margin-left: 0.1em;
}

table .table_7 td {
    width: 50%;
}

table .table_7 td ul li {
    padding: 0.1em 0;
}

table .table_8 td {
    text-align: center;
}

table .table_9 td {
    text-align: center;
}
